body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-smi: 13px;
  --font-size-22xl: 41px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-45xl: 64px;
  --font-size-49xl: 68px;

  /* Colors */
  --color-gray-100: #3a1c36;
  --color-gray-200: #23222a;
  --color-gray-300: #2e162b;
  --color-white: #fff;
  --color-tomato: #ef5c36;
  --color-green: #44a300;
  --color-black: #000;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-17xl: 36px;
  --padding-9xl: 28px;
}
